.header {
  background-color: #24292e;
  height: 55px;
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.fa {
  color: white;
}

.header a:hover, .fa:hover {
  color: #bebfc1;
}

.header a {
  color: white;
}

.navhead {
  margin: 0 .4em;
}

.repo {
  margin: 2.5em 0 0 23.5em;
  display: flex;
  justify-content: space-between;
  max-width: 35.5%;
  height: 2em;
}

.repo-div {
  border-bottom: 1px solid #eaecef;
}

.img-icon {
  height: 20px;
  border-radius: 50%;
}

.selected {
  font-weight: bold;
  border-bottom: 2px solid red;
  height: 100%;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-info {
  width: 21%;
  border: 1px solid red;
  margin-left: 1em;
}

.actions {
  /* width: 100%; */
  border-radius: 6px;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
}

.img-profile {
  height: 17.7em;
  position: relative;
  bottom: 33px;
}

.repo-info {
  border: 1px solid blue;
  width: 67%;
  /* margin: 0 8.5em; */
  margin-right: 2em;
}

.repo-filter {
  display: flex;
  border-bottom: 1px solid #eaecef;
  padding: 1.2em 0;
  justify-content: space-between;
  border: 1px solid green;
}

.repo-input {
  width: 30em;
}

#button-new-repo {
  width: 48px;
}

#button-edit-profile {
  width: 100%;
}

.repo-details {
  height: 7.3em;
  border-top : 1px solid #eaecef;
  display: flex;
  justify-content: space-between;
  padding-top: 1.2em;
  margin-bottom: .2em;
}

.repo-name {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 4px!important;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.repo-name-link {
  color: #0366de;
  line-height: 1.5;
  font-size: 20px;
}

.repo-description {
  font-size: 14px;
  line-height: 1.5;
  display: inline-block!important;
  margin-bottom: 8px!important;
  width: 75%;
  margin-top: 0;
  box-sizing: border-box;
  color: #586069;
}

.repo-lang-licence-time {
  font-size: 12px;
  margin-top: 8px!important;
}

.repo-star-button {
  margin-top: 1em;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  border: 1px solid #bfc4c4;
  border-radius: 6px;
  background-color: #fafbfc;
}

.repo-star-button:hover {
  background-color: #e1e4e8;
}

button {
  cursor: pointer;
}

footer {
  border-top: 1px solid #eaecef;
  border-bottom: 1px solid #eaecef;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  color: 0399e8;
  max-width: 97%;
  margin: 3.5em auto;
}

.icon-foot {
  color: #d1d5da;
  margin-right: .75em;
}

.footer-actions {
  color: #0399e8;
}

.foot-right {
  display: flex;
  align-items: center;
}