.header {
  background-color: #24292e;
  height: 55px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.fa {
  color: white;
}

.header a:hover, .fa:hover {
  color: #bebfc1;
}

.header a {
  color: white;
}

.navhead {
  margin: 0 .4em;
}

.repo {
  margin: 2.5em 0 0 23.5em;
  display: flex;
  justify-content: space-between;
  max-width: 35.5%;
  height: 2em;
}

.repo-div {
  border-bottom: 1px solid #eaecef;
}

.img-icon {
  height: 20px;
  border-radius: 50%;
}

.selected {
  font-weight: bold;
  border-bottom: 2px solid red;
  height: 100%;
}

.main-section {
  display: flex;
  flex-direction: row;
}

.user-info {
  width: 26.5%;
  border: 1px solid red;
}

button {
  width: 100%;
  height: 2.3em;
  border-radius: 4px;
}

.img-profile {
  /* height: 100%; */
  /* position: relative; */
  bottom: 20px;
}